footer.footer__container
   .wrapper
      .footer__holder
         section( aria-label='Логотип сайта ФИЦТО' ).footer__section
            a( href='https://ficto.ru/' target='_blank' ).footer__logo.logo_ficto
         section( aria-label='Контакты ФИЦТО' ).footer__section
            .footer__contact_social
               article.footer__social
                  a( href='https://ok.ru/group/70000001127021' target='_blank' ).footer__icon
                     .icon-ok
               article.footer__social
                  a( href='https://vk.com/fganu_ficto' target='_blank' ).footer__icon
                     .icon-vk
               article.footer__social
                  a( href='https://t.me/ITcube_metod' target='_blank' ).footer__icon
                     .icon-telegram
      .footer__bottom
         article.footer__block &copy; 2023 Федеральный институт цифровой трансформации в&nbsp;сфере образования
         #totop.footer__totop
            .icon-arrow-top




