.header__container {
   padding: 2rem 0 4rem;
   
   .md-block({
      padding-bottom: 3rem;
   })
}
.header__container .row {
   min-width: 100%;
   flex-wrap: nowrap;
   .justify-between();
   .items-center();
}
.header__container .row section,
.header__container .row menu {
   .col();
}
