.menu__container {
   
   .xl-block({
      display: none;
   })
}
.menu__container .row {
   .justify-between();
   .items-center();
   
   .register__button {
      .col();
      margin-bottom: 1.5rem;
      margin-left: 1.5rem;
      .tr();
   }
   .register__button:hover .register__text {
      background-color: #4927AA;
      .tr();
   }
   
}
.menu__item {
   .col();
   .opensans-semibold();
   color: @color-black;
   .tr();
   
   
   margin-bottom: 1.5rem;
   
   font-size: 1.2rem;
   line-height: 1.4rem;
}
.menu__item:hover {
   color: #5B35C7;
}



.menu__item {
   .to( 1400px, {
      margin-left: 15px;
      margin-right: 15px;
   });
   .xxl-block({
      margin-left: 10px;
      margin-right: 10px;
   });
}
.menu__container .row .register__button.ml2 {
   .ll-block({
      margin-left: 20px;
   });
}
