section().announcement__container.mb10
   .wrapper-big
      .wrapper
         h1.caption.text-white Анонс онлайн&ndash;курса &laquo;Искусственный интеллект&nbsp;&mdash; интернет XXI&nbspвека&raquo;

         .video_relative.mt5
            .video_ratio
            .iframe_holder
               video(width='100%' height='auto' controls='controls' poster='./assets/data/images/poster.jpg')
                 source(src='./assets/data/files/Анонс.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                 |    Тег video не&nbsp;поддерживается вашим браузером

         .register__button.mt3
            a( href='https://go.reezonly.com/course/2113' target='_blank').register__text
               i.register_bg-visible
               i.register_bg-hover
               span Зарегистрироваться на&nbsp;курс!
