include __banner
section( aria-label='Баннеры с ключевыми словами' ).banner__container
   .banners_list__holder
      +banner( 'Об отношении Минпросвещения России<br>к&nbsp;технологиям искусственного интеллекта' )
      +banner( 'История искусственного<br>интеллекта. Общие понятия' )
      +banner( 'Анализ больших данных.<br>Что это и&nbsp;где применяется?' )
      +banner( 'Machinе Learning. Определение<br>и&nbsp;практические примеры' )
      +banner( 'Нейросети.<br>Практические примеры' )
      +banner( 'Безопасность при&nbsp;использовании<br>информационных технологий' )
      +banner( 'Участие высшей школы в&nbsp;развитии<br>искусственного интеллекта' )

