include __benefit
section( aria-label='Польза для преподавателей' ).benefit__container
   .wrapper-big
      .wrapper
         .row
            h1.caption Почему это полезно педагогам?
            .benefit__holder
               .row
                  +benefit( '1', 'Повышения цифровой грамотности', 'Текста тут нет... очевидно, это придумают потом, или может есть таки какой источник контента...' )
                  +benefit( '2', 'Создание интерактивных и&nbsp;красочных уроков', 'Или нет? Прошло уже много времени так то, его всё нет... ' )
                  +benefit( '3', 'Обеспечение доступности знаний для всех категорий учащихся', 'Ну как и списка спикеров, так то' )
                  +benefit( '4', 'Сокращении времени, затрачиваемого на&nbsp;организацию и&nbsp;проведение занятий', 'Ну всё выпрашивать буду в понедельник :)' )

