include __carousel
section( aria-label='Спикеры курса' ).carousel__container.mb5
   .wrapper
      h1.caption.mb3 Спикеры курса
      .carousel__list
         +carousel( 'popov', 'Василий Попов', 'Начальник Дирекции разработки ПО ФГАНУ «ФИЦТО»' )
         +carousel( '', '', '' )
         +carousel( '', '', '' )
         +carousel( '', '', '' )
         +carousel( '', '', '' )
         +carousel( '', '', '' )

