main.main__container
   .wrapper-big
      .wrapper
         .quote
            p Задача нового этапа в&nbsp;горизонте текущего десятилетия&nbsp;&mdash; обеспечить именно массовое внедрение искусственного интеллекта, оно должно охватить все отрасли экономики и&nbsp;социальной сферы и&nbsp;систему госуправления
            i &mdash; Президент России Владимир&nbsp;Путин
         h1.caption.text-white Искусственный интелект&nbsp;&mdash; новые возможности педагогов и&nbsp;обучающихся
   .wrapper
      .row
         .main__block.main_block-1
            .main__text.text-25
               p Активное развитие технологий искусственного интеллекта приводит к&nbsp;тому, что они проникают все глубже во&nbsp;все сферы деятельности человека. Применение технологий искусственного интеллекта в&nbsp;образовании открывает новые возможности, как для педагога, так и&nbsp;для обучающихся. Осведомлённость о&nbsp;новинках и&nbsp;способность их использования педагогами позволит наладить трехстороннее взаимодействие &laquo;учитель&nbsp;&mdash; ученик&nbsp;&mdash; технологии&raquo;, тем самым модернизируя образовательный процесс.
            a( href='#video').href.main__video
               .icon-video
               span Смотреть видео
         .main__block.main_block-2
            .main__start
               span Начало курса
               p 9 октября
            .register__button
               a( href='https://go.reezonly.com/course/2113' target='_blank').register__text
                  i.register_bg-visible
                  i.register_bg-hover
                  span Зарегистрироваться на&nbsp;курс!

