include __program
section( aria-label='Программа курса' ).program__container
   .wrapper
      h1.caption Программа курса &laquo;Искусственный интеллект&nbsp;&mdash; интернет XXI&nbspвека&raquo;
      h2.title.mt2.mb2 Длительность курса&nbsp;&mdash; 2 академический часа
      +program( '1', 'Об&nbsp;отношении Минпросвещения России к&nbsp;технологиям искусственного интеллекта')
      +program( '2', 'История искусственного интеллекта. Общие понятия')
      +program( '3', 'Анализ больших данных. Что это и&nbsp;где применяется?')
      +program( '4', 'Machinе Learning. Определение и&nbsp;практические примеры')
      +program( '5', 'Нейросети. Практические примеры')
      +program( '6', 'Безопасность при&nbsp;использовании информационных технологий')
      +program( '7', 'Участие высшей школы в&nbsp;развитии искусственного интеллекта')

      .program__end.text-26
         .program_end__text
            .inline-block.mr07 По&nbsp;итогам успешного тестирования вы получите
            b.inline-block сертификат о&nbsp;прохождении курса
