include __purpose
section( aria-label='Зачем нужно изучать технологию' ).purpose__container
   .wrapper-big
      .wrapper
         h1.caption.text-white Зачем нужно изучать технологии искуственного интеллекта?
         .row
            +purpose( 'Тесное взаимодействие с искусственным интеллектом в будущем', 'Искусственный интеллект уже используется в различных областях, от автоматического перевода текстов до автономного вождения и медицинской диагностики' )
            +purpose( 'ИИ может помочь улучшить процессы в бизнесе, промышленности, медицине, образовании и других отраслях экономики', 'Каждая отрасль находит свой уникальный способ применения технологии искусственного интеллекта' )
            +purpose( 'Создание современной инновационной системы образования', 'Обработка огромных массивов данных, анализ и извлечение необходимой информации, перевод и создание текстов, распознавание речи и многое другое' )
