include __purpose
section( aria-label='Зачем нужно изучать технологию' ).purpose__container
   .wrapper-big
      .wrapper
         h1.caption.text-white Зачем нужно изучать технологии искуственного интеллекта?
         .row
            +purpose( 'Тесное взаимодействие с&nbsp;искусственным интеллектом в&nbsp;будущем', 'Искусственный интеллект уже используется в&nbsp;различных областях, от&nbsp;автоматического перевода текстов до&nbsp;автономного вождения и&nbsp;медицинской диагностики' )
            +purpose( 'ИИ может помочь улучшить процессы в&nbsp;бизнесе, промышленности, медицине, образовании и&nbsp;других отраслях экономики', 'Каждая отрасль находит свой уникальный способ применения технологии искусственного интеллекта' )
            +purpose( 'Создание современной инновационной системы образования', 'Обработка огромных массивов данных, анализ и&nbsp;извлечение необходимой информации, перевод и&nbsp;создание текстов, распознавание речи и&nbsp;многое другое' )
