header.header__container
   .wrapper
      .row
         section( aria-label='Онлайн-курс просветительских лекций "Искусственный интелект - интернет 21 века"' ).logo__container
            .logo__holder
               .ratio
               .ratio_absolute
                  .logo
            .caption__holder
               .ratio
               .ratio_absolute
                  .caption_img

         menu( aria-label='Меню' )#menu.menu__container
            .row
               a( href='#about').href.menu__item О&nbsp;курсе
               a( href='#reason').href.menu__item Преимущества&nbsp;обучения
               a( href='#partners').href.menu__item Парнеры

               .register__button.ml2
                  a( href='https://go.reezonly.com/course/2113' target='_blank').register__text
                     span Регистрация&nbsp;на&nbsp;курс
         .menu__mobile
            .menu__mobile_icon
