doctype
html

   include assets/jade/static/__head
   +title( 'Курс по Искусственному интеллекту' )

   body
      include assets/jade/static/metrika
      #container_main
         #black_back
         include ./assets/jade/header/header
         include ./assets/jade/header/mobile
         include ./assets/jade/content/main
         include ./assets/jade/content/banner
         include ./assets/jade/content/program
         include ./assets/jade/content/purpose
         include ./assets/jade/content/benefit
         include ./assets/jade/content/announcement
         include ./assets/jade/content/carousel


         section( aria-label='Парнеры и контакты' )#partners.partners__container
            .wrapper
               .row.mb5
                  h1.title При&nbsp;участии:
                  .members__holder
                     a( href='https://instrao.ru/index.php' target='_blank' ).members.member-1
                     a( href='https://new.skoltech.ru/' target='_blank' ).members.member-2
                     a( href='https://itmo.ru/' target='_blank' ).members.member-3
               .row
                  h1.title При&nbsp;поддержке:
                  a( href='https://edu.gov.ru/' target='_blank' ).support

         include assets/jade/footer/footer

      include assets/jade/static/script




