.register__button {
   .flex-center();
}
.register__text {
   display: inline-block;
   overflow: hidden;
   padding: 1rem 2rem;
   background-color: #5B35C7;
   border-radius: 10px;
   cursor: pointer;
   box-shadow: 0 19px 45px -10px rgba(13, 15, 18, 0.50);

   text-align: center;
   .opensans-medium();
   font-size: 1.1rem;
   line-height: 1.2rem;
   color: @color-back-white;
   
   .tr();
}
.register__text:hover {
   .tr();
}
